#home {
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title {
    font-size: 2.8rem;
    color: var(--color-neutral-0);;
}

#cta .title span {
    color: var(--color-neutral-0);
    font-weight: 300;
}

#cta .description {
    font-size: 1.2rem;
    color: var(--color-neutral-0);
}

#cta_buttons {
    display: flex;
    gap: 24px;
}

#cta_buttons a {
    display: inline-block;
    padding: 14px 36px;                       
    background: var(--color-primary-5);       
    border-radius: 40px;                      
    text-decoration: none;
    color: var(--color-neutral-0);            
    font-weight: 700;                         
    font-size: 18px;                          
    border: none;
    box-shadow: 0px 4px 20px rgba(15, 98, 254, 0.7); 
    text-align: center;
    transition: all 0.3s ease;
}

#cta_buttons a:hover {
    background: var(--color-primary-6);       
    box-shadow: 0px 6px 25px rgba(15, 98, 254, 0.8);
    transform: translateY(-2px);              
}

/* #phone_button {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

#phone_button button {
    box-shadow: none;
} */

#banner {
    position: relative;        /* Container relativo */
    width: 70%;
    height: auto;
}

.img-fundo {
    position: absolute;        /* Fica no fundo */
    bottom: 0;
    left: 200px;
    right: 0;
    width: 800px;
    z-index: 1;
}

.img-sombra {
    position: absolute;        /* Sobre a imagem de fundo */
    bottom: 100px;
    right: 150px;
    width: 400px;
    z-index: 2;
}

.img-pessoa {
    position: relative;
    top: 6px;
    width: 1000px;
    z-index: 3;
}

/* .shape {
    background-color: var(--color-primary-2);
    width: 50%;
    height: 100%;
    margin-top: 5px;
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 0;
    right: 0;
    z-index: 1;
} */

@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #banner,
    #banner img,
    #home .shape {
        display: none;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 450px) {
    #phone_button button {
        display: none;
    }
}